<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2024 Stephan Strittmatter
 -->
<template>
  <ul>
    <li v-for="(value, key) in licenseFrontend" :key="key">
      <a v-if="getUrl(value)" :href="getUrl(value)" target="_blank">{{
        value.Name
      }}</a
      ><span v-else>{{ value.Name }}</span
      >, Version: {{ value.Version }}: {{ value.License }}
    </li>
  </ul>
</template>

<script>
import licenseService from "@/services/license.service";

export default {
  name: "LicenseSummaryBackend",
  data() {
    return {
      licenseFrontend: [],
    };
  },
  async created() {
    this.licenseFrontend = await licenseService.getBackendLicenses();
  },
  methods: {
    getUrl(value) {
      if (value.URL === "") {
        return undefined;
      } else if (value.URL === "UNKNOWN") {
        return undefined;
      }
      return value.URL;
    },
  },
};
</script>
<style scoped>
ul > li {
  font-size: 0.8rem;
}
a {
  color: var(--text);
}
</style>
