<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <b-button
    class="mx-2"
    variant="warning"
    v-b-modal.modal-reboot
  >
    <b-icon
      icon="arrow-repeat"
      :aria-label="$t('actions.reboot.title')"
    />
    {{ $t("actions.reboot.title") }}
    <b-modal
      id="modal-reboot"
      size="sm"
      :title="$t('actions.reboot.title')"
      @ok="reboot"
      :ok-title="$t('actions.reboot.ok-title')"
      ok-variant="warning"
      :cancel-title="$t('actions.reboot.cancel-title')"
    >
      <p>
        {{ $t("actions.reboot.message") }}
      </p>
    </b-modal>
  </b-button>
</template>

<script>
import systemService from '@/services/system.service'

export default {
  name: 'RebootButton',
  methods: {
    reboot () {
      systemService.actionReboot()
    }
  }

}
</script>
