<template>
  <div class="audio-button">
    <b-form-input
      v-if="!isMuted"
      v-model="internalVolume"
      class="audio-button__volume"
      type="range"
      min="0"
      max="1"
      step="0.01"
      size="sm"
      :title="title"
      @update="setVolume"
    />
    <b-button @click="toggleMute">
      <b-icon-volume-mute-fill
        v-if="isMuted"
        :title="$t('video-preview.status-bar.audio-button.unmute.title')"
      />
      <b-icon-volume-up-fill
        v-else
        :title="$t('video-preview.status-bar.audio-button.mute.title')"
      />
    </b-button>
  </div>
</template>

<script>
export default {
  name: 'MuteButton',
  props: {
    isMuted: {
      type: Boolean,
      default: false
    },
    volume: {
      type: Number,
      default: 1
    }
  },
  data () {
    return {
      internalVolume: 0
    }
  },
  mounted () {
    this.internalVolume = this.volume
  },
  computed: {
    title () {
      return Math.round(this.internalVolume * 100) + '%'
    }
  },
  methods: {
    toggleMute () {
      this.$emit('toggle')
    },
    setVolume (vol) {
      this.$emit('volume', parseFloat(vol))
    }
  }
}
</script>

<style lang="scss" scoped>
.audio-button {
  display: flex;
  align-items: center;
  justify-content: center;
  &__volume {
    max-width: 6rem;
  }
}
</style>
