<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <b-card class="overlay-preference">
    <b-card-title>{{ $t('overlay-preference.title') }}</b-card-title>

    <b-card-text>
      {{ $t('overlay-preference.hint') }}
    </b-card-text>
    <hr>
    <b-card-text>
      {{ $t('overlay-preference.description') }}
    </b-card-text>
    <b-card-text>
      <ul>
        <li>
          <b-form-checkbox
            v-model="overlay"
            switch
          >
            {{ $t('overlay-preference.flag.use-overlays') }}
          </b-form-checkbox>
          <ul>
            <li>
              <b-form-checkbox
                v-model="overlayHymnTemplates"
                :disabled="!overlay"
                switch
              >
                {{ $t('overlay-preference.flag.use-hymn-templates') }}
              </b-form-checkbox>
            </li>
            <b-form-checkbox
              v-model="overlayTextTemplates"
              :disabled="!overlay"
              switch
            >
              {{ $t('overlay-preference.flag.use-text-templates') }}
            </b-form-checkbox>
          </ul>
        </li>
      </ul>
    </b-card-text>
    <hr>
    <b-card-text>
      <end-card-overlay />
    </b-card-text>
  </b-card>
</template>

<script>
import { mapState, mapActions } from 'pinia'
import { usePreferenceStore } from '@/store/preference'
import EndCardOverlay from './EndCardOverlay.vue'

export default {
  name: 'OverlayPreference',
  components: { EndCardOverlay },
  mounted () {
  },
  computed: {
    overlay: {
      get: function () {
        const val = this.getPreference('overlay', false)
        return val
      },
      set: function (value) {
        this.setPreference({ key: 'overlay', value: value })
      }
    },
    overlayHymnTemplates: {
      get: function () {
        const val = this.getPreference('overlayHymnTemplates', false)
        return val
      },
      set: function (value) {
        this.setPreference({ key: 'overlayHymnTemplates', value: value })
      }
    },
    overlayTextTemplates: {
      get: function () {
        const val = this.getPreference('overlayTextTemplates', false)
        return val
      },
      set: function (value) {
        this.setPreference({ key: 'overlayTextTemplates', value: value })
      }
    },
    ...mapState(usePreferenceStore, { getPreference: 'get' })
  },
  methods: {
    ...mapActions(usePreferenceStore, {
      setPreference: 'set',
      loadPreferences: 'load'
    })
  }
}
</script>

<style scoped>
ul {
  list-style-type: none;
}
</style>
