<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <b-row class="mb-3">
    <b-col
      cols="6"
      sm="4"
      class="px-1"
    >
      <b-input-group>
        <b-input-group-prepend>
          <b-button
            @click="selectTemplate(index)"
            variant="outline-primary"
            size="sm"
            :title="$t('overlay.text-overlay-templates.action.select.title')"
          >
            <b-icon icon="check" />
          </b-button>
        </b-input-group-prepend>
        <b-form-textarea
          readonly
          :value="left"
          size="sm"
          no-resize
        />
      </b-input-group>
    </b-col>
    <b-col
      cols="6"
      sm="8"
      class="px-1"
    >
      <b-input-group>
        <b-form-textarea
          readonly
          :value="right"
          size="sm"
          no-resize
        />
        <b-input-group-append>
          <b-button
            @click="removeTemplate(index)"
            variant="outline-danger"
            size="sm"
            :title="$t('overlay.text-overlay-templates.action.remove.title')"
          >
            <b-icon icon="bookmark-dash" />
          </b-button>
        </b-input-group-append>
      </b-input-group>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: 'TextOverlayTemplates',
  props: {
    left: {
      type: String,
      default: null
    },
    right: {
      type: String,
      required: true
    },
    index: {
      type: Number,
      required: true
    }
  },
  methods: {
    selectTemplate (index) {
      this.$emit('selectTemplate', index)
    },
    removeTemplate (index) {
      this.$emit('removeTemplate', index)
    }
  }
}
</script>
